.subGraphItem {
    height: 100%; 
    padding-top: 2%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.subGraphTitle {
    height: 100%; 
    padding-top: 2%;
    text-align: center;
    font-weight: 400;
}

#button-group {
    right: 1%;
    height: 8%;
    width: 15%;
    display: flex;
    align-items: center;
    position: absolute;
}
